<div
  class="py-16 bg-gray-50 overflow-hidden lg:py-24"
  id="faq"
  style="scroll-margin-top: 64px"
>
  <div class="px-4 sm:px-6 md:px-8 mx-auto max-w-7xl ">
    <h2
      class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
    >
      Frequently Asked Questions
    </h2>
    <div class="mt-16">
      <div
        class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-12 lg:grid-cols-3"
      >
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Can I try Updrafts before paying?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            Sure! You can test out Updrafts on our free plan where you can
            experiment with 2 projects. Your projects will have a two-page
            limit.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Can I cancel my subscription at any time?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            Yes, you can cancel your account at any time. If you do, you'll be
            downgraded to the free plan, where you can manage two projects. You
            won't be locked out of any projects that have been created during
            your subscription.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Is there a refundable trial period?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            No, all sales are final. Try the free plan if you're not sure if
            it's worth paying for, or a monthly subscription to try the pro
            features for a small compensation.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Is Updrafts production ready?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            Yes. The product is stable and works as advertised. But there are
            still some rough edges on the UX and not all Tailwind options are
            configurable trough property buttons, just yet.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Where can I find the documentation?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            Documentation isn't written yet. Our focus lies on making Updrafts
            feature complete. Once that's done, we'll work on proper docs.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            What version of tailwindcss is used?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            Updrafts is tailwindcss v2 compatible. We've extended the default
            theme with all available tailwindcss colors.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            What is a project?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            A project is a website that you build in Updrafts. You can keep your
            projects in updrafts for free, or export the code on a paid plan.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            What kind of support do you provide?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            We offer chat support on this page to all accounts, as well as fast
            email support to paid accounts.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Can I host my site somewhere else?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            On the Professional plans, you can export your website and host it
            anywhere you'd like. No attribution required.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            How long does it take to learn Updrafts?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            If you're new to building websites, you'll get up and running
            quickly. If you already know concepts behind CSS and Tailwind, you
            will feel at home in Updrafts.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Can I import my site or my code?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            Yes, existing components based on Tailwind CSS can be imported.
          </div>
        </div>
        <div>
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Do you have an affiliate program?
          </h5>
          <div class="mt-2 text-base text-gray-500">
            If you have an audience you think would enjoy Updrafts, please reach
            out to me.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
