<section class="py-32" id="features">
  <h3 class="font-extrabold text-3xl text-center mb-5">
    A better way to design
  </h3>

  <h6 class="text-xl text-center">
    Rapidly build modern websites, without writing code.
  </h6>
</section>

<div
  class="grid grid-cols-1 lg:grid-cols-2 max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl space-x-16 space-y-16"
>
  <section class="space-y-10">
    <h3 class="font-extrabold text-3xl text-center mb-5">
      Designed for Developers
    </h3>
    <p class="text-gray-600 font-medium">
      We agonize over the right abstractions so you don't need to think about
      class names or pixel precise offsets. Use prebuilt components and focus on
      customizing details instead of building the same skeletons over and over
      again.
    </p>

    <div class="flex">
      <div class="flex-shrink-0">
        <div
          class="flex items-center bg-blue-500 justify-center h-12 w-12 rounded-md text-white"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="ml-4">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          Prebuilt components
        </dt>
        <p class="mt-2 text-base text-gray-500">
          Drag prebuilt components to your canvas and focus on customizing and
          details, instead of building the same wireframes over and over again.
          Use our standard components, or import your own.
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-shrink-0">
        <div
          class="flex items-center bg-blue-500 justify-center h-12 w-12 rounded-md text-white"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
            ></path>
          </svg>
        </div>
      </div>
      <div class="ml-4">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          Prebuilt components
        </dt>
        <p class="mt-2 text-base text-gray-500">
          Drag prebuilt components to your canvas and focus on customizing and
          details, instead of building the same wireframes over and over again.
          Use our standard components, or import your own.
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-shrink-0">
        <div
          class="flex items-center bg-blue-500 justify-center h-12 w-12 rounded-md text-white"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 10V3L4 14h7v7l9-11h-7z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="ml-4">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          Prebuilt components
        </dt>
        <p class="mt-2 text-base text-gray-500">
          Drag prebuilt components to your canvas and focus on customizing and
          details, instead of building the same wireframes over and over again.
          Use our standard components, or import your own.
        </p>
      </div>
    </div>
  </section>

  <div>
    <img
      class="mx-auto shadow-lg rounded-lg"
      width="490"
      src="../../../assets/gif/product-one.gif"
      alt=""
    />
  </div>
</div>

<div class="mt-12 sm:mt-16 lg:mt-24">
  <div
    class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl space-x-16 space-y-16"
  >
    <section class="lg:col-start-2 ml-8 space-y-10">
      <h3
        class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl"
      >
        Always in the loop
      </h3>
      <p class="mt-3 text-lg text-gray-500">
        Every project comes with a public accessible url. Use it to check the
        design on your mobile device, or share it with others to get feedback.
      </p>
      <dl class="space-y-10">
        <div class="flex">
          <div class="flex-shrink-0">
            <div
              class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                ></path>
              </svg>
            </div>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Import UI components
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              We support any Tailwind based component library. Import your
              assets from Tailwind UI, Tailwind Components, your private
              library, or any other source really.
            </dd>
          </div>
        </div>
        <div class="flex">
          <div class="flex-shrink-0">
            <div
              class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Shareable preview
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Designs can be shared with team members, clients or family. They
              don't need to install anything. Share the link, and they're ready
              to go, on any device.
            </dd>
          </div>
        </div>
        <div class="flex">
          <div class="flex-shrink-0">
            <div
              class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                ></path>
              </svg>
            </div>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Export pure HTML &amp; Tailwind CSS
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Designs are build on HTML and Tailwind CSS. There is no need to
              "convert to code", because the design is the code. We also don't
              use any external dependencies.
            </dd>
          </div>
        </div>
      </dl>
    </section>
    <div class="lg:col-start-1">
      <img
        class="mx-auto shadow-lg rounded-lg"
        width="490"
        src="../../../assets/gif/product-two.gif"
        alt=""
      />
    </div>
  </div>
</div>

<div class="py-32">
  <blockquote class="mt-10">
    <div
      class="px-4 lg:px-0 max-w-3xl mx-auto text-center text-2xl leading-9 font-thin sm:font-medium  text-gray-900"
    >
      <p>
        “I love how easy updrafts.app frontend work makes for me as backend
        developer. Being able to share these quick prototypes allow me to
        communicate better with my not technical team.”
      </p>
    </div>
    <footer class="mt-8">
      <div class="md:flex md:items-center md:justify-center">
        <div class="md:flex-shrink-0">
          <img
            class="mx-auto h-10 w-10 rounded-full"
            src="../../../assets/img/jenna.jpg"
            alt=""
          />
        </div>
        <div class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center">
          <div class="text-base font-medium text-gray-900">Jenna Davis</div>
        </div>
      </div>
    </footer>
  </blockquote>
</div>
